<%= render 'form' %>
<% if @punches.blank? %>
	<div class="empty_state">
		<h2>Welcome to Punchy!</h2>
		<p>
			Punchy is a simple, easy to use webapp for tracking the time you spend working on projects.  To get you started, here's a brief introduction to how it works!
		</p>
		<p>
			To enter a time punch, simply type it in the bar above.  Punches can reference <span class="important project">#Projects</span>, <span class="important action">*Actions</span> or <span class="important client">@Clients</span>.
		</p>
		<img src="images/punchy_screen.png" />
		<p>
			For example, let's say you designed a new flyer for Company A and it took you 3 hours.  You could write "*design #flyer for @company_a for 3 hours."  Doing this will allow you to track how much time you spent working on/for any action, project or client.
		</p>
		<p>
			Once you have a few punches logged, you can click on any action/client/project to see how much time has been spent on it recently.  We'll be adding better data breakdowns as time goes on, but for the time being you can track your time investment for the day, week, month or year.
		</p>
		<p>
			If you have any issues, please let me know in the issue tracker on github.  Thanks for trying out punchy!
		</p>
	</div>
<% else %>
	<%= render @punches %>
	<div class="end_of_punches">
		<% if @punches.next_page %>
			<%= link_to "More Punches", punches_path(:page => @punches.next_page), :rel => "more_button", :class => "more_button" %>
		<% end %>
	</div>
<% end %>
