body {
	font-family: Arial, “Helvetica Neue”, Helvetica, sans-serif;
	color: #202020;
}

#header h1 a{
	background: url(../images/clock.png) no-repeat left center;
	text-decoration: none;
	color: #202020;
	padding: 10px;
	padding-left: 55px;
}
#footer {
	padding-top: 20px;
	text-align: right;
	font-size: .75em;
}

a {
	text-decoration: none;
	color: #e98115;
	border: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}
/*-------------------------------------------Punches-----------------------------------------*/

#new_punch {
	position: relative;
}

#advanced_menu {
	background: #e8e8e8;
	padding: 5px;
}

#show_advanced_menu {
	float: right;
	font-size: .8em;
	padding: 2px 5px;
}
.date {
	font-style: italic;
	color: #777;
	text-align: right;
	font-size: .9em;
}

.punch {
	margin: 10px 0;
	padding: 10px;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}
.punch p {
	margin: 5px 0;
	padding: 0;
	line-height: 1.5em;
}

.today {
	background: #f9f9df;
}

.punch_control {
	position: absolute;
	padding: 2px 5px;
	bottom: 0;
	left: 0;
}

/*------------------------------------------Actions - Projects - Clients -----------------------------*/

.important {
	padding: 2px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
	text-decoration: none;
	background: #161616;
}

h2.important {
	display: inline;
	margin: 0px 2px;
}

h2.important a {
	text-decoration: none;
	color: #fff;
}

h2.important a.home {
	text-indent: -999999px;
	padding-left: 35px;
	background-image: url(../images/home.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.action {
	background: blue;
}

.project {
	background: red;
}

.client {
	background: green;
}

.action:hover {
	background: darkblue;
	text-decoration: none;
}

.project:hover {
	background: darkred;
	text-decoration: none;
}

.client:hover {
	background: darkgreen;
	text-decoration: none;
}

/*--------------------------------Text Manipulators-------------------------------------*/

span.information {
	font-size: .75em;
	color: #777;
}

input.submit {
	padding: 5px;
	width: 150px;
	color: #fff;
	background: #202020;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #161616;
	cursor: pointer;
	font-weight: bold;
}

input.submit:hover {
	background: #161616;
}

input.new_punch {
	display: inline;
	padding: 5px;
	width: 450px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 5px;
}

li {
	margin: 5px;
	padding: 0;
}

.time {
	font-style: italic;
	font-weight: bolder;
	padding: 2px 5px;
}

td.hours {
	text-align: center;
}

.h {
	font-size: .75em;
	color: #444;
	font-style: normal;
	margin: 0 2px;
}

.m {
	font-size: .75em;
	color: #444;
	font-style: normal;
	margin: 0 2px;
}
div.key {
	width: 200px;
	border: 1px solid #202020;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #e8e8e8;
	padding: 10px;
}

div.key h4 {
	text-align: center;
	margin: 0;
	padding: 0;
}

th {
	font-weight: lighter;
	font-size: .65em;
	text-transform: uppercase;
	color: #777;
	border-bottom: 1px solid #777;
}

table {
	margin-top: 10px;
}

td.title {
	text-align: center;
}

td {
	padding: 5px;
}
tr.even {
	background: #e8e8e8;
}

td.final {
	border-top: 1px solid #777;
}

/*-------------------------New Users-------------------------*/
.empty_state {
	background: #f9f9df;
	border: 5px solid #e8e8e8;
	padding: 10px;
	margin: 10px 0;
}

.empty_state h2 {
	margin: 5px;
}

.empty_state img {
	border: 2px solid #777;
	width: 90%;
}